.navigable-page {
  .wrap {
    @include sm-desktop {
      width: 90%;
    }
  }

  .centerer {
    @include sm-desktop {
      width: 100%;
    }
  }

  header {
    margin-bottom: $marginhalf;

    @include sm-desktop {
      margin-bottom: $marginquart;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;

    a {
      cursor: pointer;
      display: inline-block;
      line-height: 45px;
      margin: 0 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    #what-nav {
      width: 38px;
      text-align: center;
    }
  }

  // small screen navigation
  @media (max-width: 600px) {
    nav {
      position: relative;
      top: auto;
      left: auto;

      a {
        margin: 0 18px;

        &:first-child {
          margin-left: 4px;
        }
      }
    }
  }
}