.work-offfbynight {

  .hero {
    background-image: url('/img/work-offf-main-large.jpg');
  }

  .sub {
    font-size: 16.5px;
  }



  .section-1 {
    p.intro {
      margin-left: -450px;
      width: 525px;
    }

    .tags {
      left: 470px;
      top: 436px;
    }

    // scape1
    figure:nth-of-type(1) {
      margin-left: -494px;
      margin-top: 22px;
      width: 724px;
    }

    // scape2 animated
    figure:nth-of-type(2) {
      margin-left: -225px;
      margin-top: -65px;
      width: 740px;
    }

    // scape3
    figure:nth-of-type(3) {
      margin-left: -560px;
      margin-top: -52px;
      width: 768px;
    }

    // scape4
    figure:nth-of-type(4) {
      margin-left: -168px;
      margin-top: -48px;
      width: 750px;
    }
  }



  .section-2 {

    p.blurshader {
      left: -534px;
      position: absolute;
      top: 482px;
      width: 318px;
    }

    // colors3
    figure:nth-of-type(1) {
      margin-left: -468px;
      width: 766px;
      z-index: 2;
    }

    // colors4
    figure:nth-of-type(2) {
      margin-left: -80px;
      margin-top: -38px;
      width: 614px;
    }
  }



  .section-3 {

    p.technical {
      left: 242px;
      position: absolute;
      top: 38px;
      width: 296px;
    }

    // colors2
    figure:nth-of-type(1) {
      margin-left: -488px;
      width: 678px;
    }

    // colors1
    figure:nth-of-type(2) {
      margin-left: -164px;
      margin-top: -38px;
      width: 752px;
      z-index: 2;
    }

    // colors5
    figure:nth-of-type(3) {
      margin-left: -560px;
      margin-top: -50px;
      width: 824px;
    }
  }



  .section-4 {

    p.credits {
      position: absolute;
      left: -518px;
      top: 174px;
      width: 212px;
    }

    // glitch1
    figure:nth-of-type(1) {
      margin-left: -260px;
      width: 848px;
    }

  }
}